<center>
	<h2>Shenmue Ⅲ Slacker Backer Campaign Data</h2>
	<div id="chart-container"></div>
	<%= @chart.render() %>

	<br>
	<p style="font-size:10px">[ Made with Jet Cola by <a href="https://twitter.com/ShenmueLegacy">@ShenmueLegacy</a> ]</p>
</center>